@mixin display-justify-align($display, $justify, $align) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

@mixin width-height($width, $height) {
    width: $width;
    height: $height;
}

@mixin badge {
    background-color: $venetian-red;
    border-radius: 100%;
    color: $white;
    @include width-height(20px, 20px);
    @include display-justify-align(flex, center, center);
    position: absolute;
    top: -5px;
    right: 12px;
}

@mixin btn-purple {
    color: $white;
    background-color: $purple;
    border: none;
    border-radius: 58px;
    cursor: pointer;
    user-select: none;
}

@mixin btn-border-purple {
    color: $purple;
    background-color: $white;
    border: 1px solid $purple;
    padding: 9px 17px;
    height: 34px;
    border-radius: 58px;
    cursor: pointer;
    user-select: none;
}

@mixin custom-select {
    appearance: none;
    background: url(../assets/images/arrow-down.svg) right 6px no-repeat;
    background-origin: content-box;
    border: none;
}

@mixin arrow-circle {
    border: 1px solid $platinum;
    @include display-justify-align(flex, center, center);
    border-radius: 100%;
    background: $white;
    cursor: pointer;
    user-select: none; 
}