$purple:            #611F69;
$ateneo-blue:       #084B66;
$blue-cola:         #009AE0;
$davy-grey:         #595959;
$philippine-gray:   #919191;
$cultured:          #f5f5f5;
$light-silver:      #D6D6D6;
$platinum:          #E2E2E2;
$white:             #FFFFFF;
$venetian-red:      #CC1016;