$purple:            #611F69;
$ateneo-blue:       #084B66;
$blue-cola:         #009AE0;
$light-cyan:        #DFF5FF;
$azureish-white:    #D8E9F1;
$raisin-black:      #222222;
$davy-grey:         #595959;
$sonic-silver:      #797979;
$philippine-gray:   #919191;
$cultured:          #f5f5f5;
$light-silver:      #D6D6D6;
$platinum:          #E2E2E2;
$lotion:            #FAFAFA;
$white:             #FFFFFF;
$venetian-red:      #CC1016;

$container-width: 1580px;