@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 14px Roboto, sans-serif;
  color: #302e4d;
  background: #f5f5f5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #302e4d;
}
a:hover {
  color: #302e4d;
}

/*  ==================
    [ Mobile First ] */
/* Main Navigation */
.navigation {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 56px;
  padding: 12px 0 8px;
  background: #FFFFFF;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0px -1px 2px rgba(191, 191, 191, 0.25);
  z-index: 9;
}
.navigation .main-menu {
  width: 398px;
  display: flex;
  justify-content: space-between;
}
.navigation .main-menu li {
  min-width: 70px;
}
.navigation .main-menu li a {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navigation .main-menu li a svg {
  fill: #595959;
}
.navigation .main-menu li a svg:hover {
  fill: #009AE0;
}
.navigation .main-menu li.job {
  position: relative;
}
.navigation .main-menu li.job .badge {
  background-color: #CC1016;
  border-radius: 100%;
  color: #FFFFFF;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: 12px;
}
.navigation .main-menu li.post-job .icon {
  background-color: #611F69;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  position: relative;
  margin-top: -45px;
  margin-bottom: 5px;
  border: 10px solid #fff;
  box-shadow: 0px -1px 2px rgba(191, 191, 191, 0.25);
}
.navigation .main-menu li.post-job .icon svg {
  fill: #FFFFFF;
}
.navigation .main-menu li.notification {
  display: none;
}
.navigation .main-menu li:hover, .navigation .main-menu li.active {
  font-weight: 600;
  color: #009AE0;
  transition: fill 0.3s ease;
  border-bottom: 3.5px solid #009AE0;
  margin-bottom: -8px;
}
.navigation .main-menu li:hover a, .navigation .main-menu li.active a {
  font-weight: 600;
  color: #009AE0;
}
.navigation .main-menu li:hover svg, .navigation .main-menu li.active svg {
  fill: #009AE0;
}
.navigation .menu-right {
  display: none;
}

/* House Items Menu */
.house-items {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}
.house-items .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.house-items .house-items-menu {
  width: 324px;
  margin-right: 28px;
  display: flex;
  margin-bottom: 7px;
}
.house-items .house-items-menu li {
  margin-right: 14px;
}
.house-items .house-items-menu li a {
  width: 108px;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 9px;
  border-radius: 8px;
  flex-direction: column;
  color: #595959;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
.house-items .house-items-menu li a:hover, .house-items .house-items-menu li a.active {
  color: #FFFFFF;
  background-color: #084B66;
}
.house-items .house-items-menu .slick-arrow {
  display: none !important;
}
.house-items select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../assets/images/arrow-down.svg) right 6px no-repeat;
  background-origin: content-box;
  border: none;
  width: 30px;
}

/* Categories Row */
.categories-row {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
  background-color: #FFFFFF;
}
.categories-row .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categories-row .categories {
  width: 324px;
  margin-right: 28px;
  display: flex;
  justify-content: center;
  padding: 8px 0 10px;
}
.categories-row .categories button {
  border: 1px solid #919191;
  height: 30px;
  border-radius: 36px;
  background: #FFFFFF;
  padding: 7px 13px;
  margin-right: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.categories-row .categories button.active {
  color: #FFFFFF;
  border: none;
  padding-right: 35px;
  background: #009AE0 url(../assets/images/right-tick.svg) right 12px center no-repeat;
}
.categories-row .categories .slick-arrow {
  display: none !important;
}
.categories-row select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../assets/images/arrow-down.svg) right 6px no-repeat;
  background-origin: content-box;
  border: none;
  width: 30px;
}

/* Search Row */
.search-row {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  padding: 8px 0;
}
.search-row input[type=search] {
  border: 1px solid #D6D6D6;
  width: 263px;
  height: 44px;
  box-shadow: 0px 2px 8px rgba(211, 211, 211, 0.25);
  border-radius: 59px;
  background: #FFFFFF url(../assets/images/search-pin.svg) 15px center no-repeat;
  padding: 14px 15px 14px 46px;
  margin-right: 6px;
}
.search-row .btn-search {
  color: #FFFFFF;
  background-color: #611F69;
  border: none;
  border-radius: 58px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 86px;
  height: 44px;
  padding: 15px 8px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 12px;
  box-shadow: 0px 2px 8px rgba(211, 211, 211, 0.25);
}
.search-row .divider {
  display: none;
}
.search-row .btn-reset {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: none;
  background: none;
}
.search-row .btn-reset span {
  display: none;
}

/* Slick Carousal Arrows */
.slick-arrow {
  border: 1px solid #E2E2E2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 30px;
  height: 30px;
  box-shadow: 0px 4px 8px rgba(158, 158, 158, 0.25);
  text-indent: -9999px;
  padding: 5px 10px !important;
}

.main {
  padding: 23px 15px;
}
.main .container {
  display: flex;
  flex-direction: column;
}
.main .container .tradies {
  order: 2;
}
.main .container .sidebar {
  order: 1;
  margin-bottom: 18px;
}

.tradies-title {
  color: #797979;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 14px;
}

.sidebar-title {
  color: #595959;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 18px;
}

.bg-box {
  background: #FFFFFF;
  border-radius: 28px;
  padding: 22px 0;
  margin-bottom: 16px;
  position: relative;
}
.bg-box-header {
  margin-bottom: 17px;
  padding: 0 17px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.bg-box-header img {
  margin-right: 15px;
}
.bg-box-header .profile-name {
  margin-right: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #222222;
  line-height: 21px;
}
.bg-box-header .rating {
  font-size: 14px;
  font-weight: 400;
  color: #595959;
  line-height: 21px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.bg-box-header .rating svg {
  margin-right: 6px;
}
.bg-box-body {
  margin-bottom: 21px;
}
.bg-box-body .address {
  padding: 0 17px;
  color: #595959;
  line-height: 16px;
  margin-bottom: 16px;
}
.bg-box-body .address p {
  margin-bottom: 8px;
}
.bg-box-body .address p span {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  margin-right: 28px;
}
.bg-box-body .address svg {
  margin-right: 12px;
}
.bg-box-body .house-types {
  padding: 0 17px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 17px;
  min-height: 60px;
  align-items: flex-start;
}
.bg-box-body .house-types li {
  color: #222222;
  line-height: 14px;
  font-size: 12px;
  background-color: #DFF5FF;
  padding: 3px 11px;
  border-radius: 32px;
  margin: 0 8px 11px 0;
}
.bg-box-body .house-types li:last-child {
  margin-bottom: 0;
}
.bg-box-body .images-carousel {
  padding: 0 0 0 17px;
  display: flex;
  align-items: center;
}
.bg-box-body .images-carousel .img {
  margin-right: 16px;
}
.bg-box-body .images-carousel .slick-prev {
  position: absolute;
  z-index: 9;
}
.bg-box-body .images-carousel .slick-next {
  position: absolute;
  z-index: 9;
  right: 12px;
}
.bg-box-body .highlights {
  margin: 0 17px;
  background-color: #f5f5f5;
  padding: 11px 17px;
  border-radius: 14px;
}
.bg-box-body .highlights .icon-text {
  display: flex;
  margin-bottom: 4px;
}
.bg-box-body .highlights .icon-text h6 {
  font-size: 12px;
  font-weight: 500px;
  color: #222222;
}
.bg-box-body .highlights .icon-text p {
  font-size: 12px;
  font-weight: 500px;
  color: #595959;
}
.bg-box-body .highlights .icon {
  margin-right: 8px;
}
.bg-box-footer {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 17px;
}

.border-box {
  background: #FAFAFA;
  border: 1px solid #E2E2E2;
  border-radius: 6px;
  padding: 15px 16px 28px;
}
.border-box .box-header {
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.border-box .box-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 21px;
}
.border-box .box-body .title {
  color: #222222;
  line-height: 132%;
  font-weight: 400;
  margin-bottom: 4px;
}
.border-box .box-body .description {
  color: #595959;
  line-height: 127%;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0;
}
.border-box .box-footer .heading {
  color: #595959;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 8px;
}
.border-box .box-footer .reports {
  color: #222222;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-purple {
  color: #FFFFFF;
  background-color: #611F69;
  border: none;
  border-radius: 58px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 36px;
  padding: 8px 25px;
  margin-right: 16px;
}

.btn-border-purple {
  color: #611F69;
  background-color: #FFFFFF;
  border: 1px solid #611F69;
  padding: 9px 17px;
  height: 34px;
  border-radius: 58px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.font-red {
  color: #CC1016;
}

.btn-toggle {
  border: 1px solid #E2E2E2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 26px;
  height: 26px;
}

.title-badge {
  color: #009AE0;
  background-color: #D8E9F1;
  padding: 2px 6px;
  text-transform: uppercase;
  font-weight: 500;
}

.btn-other-links {
  border: none;
  background: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #009AE0;
  text-decoration: underline;
}

.other-links {
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 2px 8px rgba(175, 175, 175, 0.25);
  border-radius: 12px;
  padding: 15px;
  width: 200px;
  position: absolute;
  top: 90px;
  right: 10px;
}
.other-links .title {
  font-size: 12px;
  font-weight: 500px;
  color: #222222;
  margin-bottom: 11px;
}
.other-links .house-types {
  margin-bottom: 0;
  min-height: auto;
  padding: 0;
}

.hidden {
  display: none;
}

.btn-upgrade {
  text-align: center;
  margin-bottom: 100px;
}

.box-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  visibility: hidden;
  z-index: 9;
}
.box-modal .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #000;
  opacity: 0;
  transition: opacity 1.3s;
}
.box-modal .body-modal {
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  padding: 10px;
}
.box-modal .body-modal .inner-body-modal {
  background: #222222;
  color: #FFFFFF;
  padding: 42px 33px;
  border-radius: 28px;
  position: relative;
  z-index: 1;
  text-align: left;
}
.box-modal .body-modal .inner-body-modal .title {
  font-size: 24;
  line-height: 31px;
  font-weight: 600;
  margin-bottom: 9px;
}
.box-modal .body-modal .inner-body-modal .description {
  font-size: 16;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 23px;
}
.box-modal.modal-show {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  transition: all 0.1s;
}
.box-modal.modal-show .overlay {
  opacity: 0.5;
  transition: opacity 0.3s;
}
.box-modal.modal-show .body-modal {
  max-height: 1000px;
  opacity: 1;
  transition: 0.1s max-height 0.1s, 0.1s opacity 0.1s;
}

/*  ==================================
    [ Responsive Section Starts Here ] */
@media (min-width: 1580px) {
  .container {
    width: 1580px;
  }
  /* Main Navigation */
  .navigation {
    width: 100%;
    height: 72px;
    padding: 12px 0 8px;
    position: static;
    border-bottom: 1px solid #E2E2E2;
    text-align: center;
  }
  .navigation .container {
    display: flex;
    justify-content: center;
  }
  .navigation .container .centered {
    flex: 1;
    display: flex;
    justify-content: center;
    transform: translateX(135px);
  }
  .navigation .container .right {
    justify-self: end;
  }
  .navigation .main-menu {
    width: 450px;
  }
  .navigation .main-menu li.post-job {
    display: none;
  }
  .navigation .main-menu li.notification {
    display: block;
  }
  .navigation .menu-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
  .navigation .menu-right .btn-post-job {
    color: #FFFFFF;
    background-color: #611F69;
    border: none;
    border-radius: 58px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    padding: 10px 32px;
    margin-right: 40px;
  }
  .navigation .menu-right .messages {
    position: relative;
    width: 24px;
    margin-right: 31px;
  }
  .navigation .menu-right .messages .badge {
    background-color: #CC1016;
    border-radius: 100%;
    color: #FFFFFF;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: 12px;
    top: -10px;
    right: -10px;
  }
  /* House Items Menu */
  .house-items .house-items-menu {
    width: calc(100% - 100px);
    padding: 7px 0;
    margin-right: 22px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .house-items .house-items-menu .slick-arrow {
    display: flex !important;
  }
  .house-items select {
    width: 65px;
  }
  /* Categories Row */
  .categories-row .categories {
    width: calc(100% - 100px);
    margin-right: 28px;
  }
  .categories-row .categories .slick-arrow {
    display: flex !important;
  }
  .categories-row select {
    width: 65px;
  }
  .categories-row .slick-arrow {
    border: 1px solid #E2E2E2 !important;
    margin-right: 0 !important;
  }
  /* Search Row */
  .search-row {
    border-bottom: 1px solid #E2E2E2;
  }
  .search-row input[type=search] {
    width: 364px;
    margin-right: 10px;
  }
  .search-row .btn-search {
    width: 259px;
    color: #FFFFFF;
    background-color: #611F69;
    border: none;
    border-radius: 58px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    padding: 15px 0;
    font-size: 16px;
    box-shadow: 0px 2px 8px rgba(119, 119, 119, 0.55);
  }
  .search-row .divider {
    display: block;
    width: 1px;
    margin-right: 17px;
  }
  .search-row .btn-reset svg {
    display: none;
  }
  .search-row .btn-reset span {
    display: block;
    font-weight: 500;
  }
  /* Main Content */
  .main {
    padding: 23px 0;
  }
  .main .container {
    margin: 0 auto;
    width: 1580px;
    justify-content: space-between;
    flex-direction: row;
  }
  .main .container .tradies {
    order: 1;
  }
  .main .container .sidebar {
    order: 2;
  }
  .properties {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .bg-box,
  .border-box {
    width: 374px;
  }
}
/* Styles for mobile view */
.select-mobile {
  display: none;
}

/* Styles for desktop view */
.select-desktop {
  display: none;
}

@media (max-width: 767px) {
  /* Styles for mobile view */
  .select-mobile {
    display: block;
  }
}
@media (min-width: 768px) {
  /* Styles for desktop view */
  .select-desktop {
    display: block;
  }
}/*# sourceMappingURL=styles.css.map */