@import "./reset.scss";
@import "./variables";
@import "./mixins";

/*  ==================
    [ Mobile First ] */

/* Main Navigation */
.navigation {
    display: flex;
    justify-content: center;
    @include width-height(100%, 56px);
    padding: 12px 0 8px;
    background: $white;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px -1px 2px rgba(191, 191, 191, 0.25);
    z-index: 12;

    .main-menu {
        width: 398px;
        display: flex;
        justify-content: space-between;

        li {
            min-width: 70px;

            a {
                text-align: center;
                font-size: 12px;
                font-weight: 400;
                @include display-justify-align(flex, center, center);
                flex-direction: column;

                .icon {
                    min-height: 19px;
                    margin-bottom: 3px;
                }

                svg {
                    height: 19px;
                    width: auto;
                    fill: $davy-grey;

                    &:hover {
                        fill: $blue-cola;
                    }
                }
            }

            &.job {
                position: relative;

                .badge {
                    @include badge;
                }
            }

            &.post-job {
                .icon {
                    background-color: $purple;
                    @include display-justify-align(flex, center, center);
                    @include width-height(65px, 65px);
                    border-radius: 100%;
                    position: relative;
                    margin-top: -45px;
                    margin-bottom: 5px;
                    border: 10px solid #fff;
                    box-shadow: 0px -1px 2px rgba(191, 191, 191, 0.25);

                    svg {
                        fill: $white;
                    }
                }
            }

            &.notification {
                display: none;
            }

            &:hover,
            &.active {
                font-weight: 600;
                color: $blue-cola;
                transition: fill 0.3s ease;
                border-bottom: 3.5px solid $blue-cola;
                margin-bottom: -8px;

                a {
                    font-weight: 600;
                    color: $blue-cola;
                }

                svg {
                    fill: $blue-cola;
                }
            }
        }
    }

    .menu-right {
        display: none;
    }
}

/* House Items Menu */
.house-items {
    @include display-justify-align(flex, center, center);
    background-color: $white;

    .container {
        @include display-justify-align(flex, space-between, center);
    }

    .house-items-menu {
        width: 324px;
        margin-right: 28px;
        display: flex;
        margin-bottom: 7px;

        li {
            a {
                @include width-height(108px, 77px);
                @include display-justify-align(flex, center, center);
                padding: 4px 9px;
                border-radius: 8px;
                flex-direction: column;
                color: $davy-grey;
                text-align: center;
                font-size: 12px;
                font-weight: 500;

                &:hover,
                &.active {
                    color: $white;
                    background-color: $ateneo-blue;
                }

                .img {
                    min-height: 35px;
                }

                span {
                    min-height: 30px;
                }

            }

            margin-right: 14px;
        }

        .slick-arrow {
            display: none !important
        }
    }

    select {
        @include custom-select;
        width: 30px;
    }
}

/* Categories Row */
.categories-row {
    @include display-justify-align(flex, center, center);
    border-top: 1px solid $platinum;
    border-bottom: 1px solid $platinum;
    background-color: $white;

    .container {
        @include display-justify-align(flex, space-between, center);
    }

    .categories {
        width: 324px;
        margin-right: 28px;
        display: flex;
        justify-content: center;
        padding: 8px 0 10px;

        button {
            border: 1px solid $philippine-gray;
            height: 30px;
            border-radius: 36px;
            background: $white;
            padding: 7px 13px;
            margin-right: 6px;
            user-select: none;
            cursor: pointer;

            &.active {
                color: $white;
                border: none;
                padding-right: 35px;
                background: $blue-cola url(../assets/images/right-tick.svg) right 12px center no-repeat;
            }
        }

        .slick-arrow {
            display: none !important
        }
    }

    select {
        @include custom-select;
        width: 30px;
    }
}

/* Search Row */
.search-row {
    @include display-justify-align(flex, center, center);
    background-color: $white;
    padding: 8px 0;

    input[type="search"] {
        border: 1px solid $light-silver;
        @include width-height(263px, 44px);
        box-shadow: 0px 2px 8px rgba(211, 211, 211, 0.25);
        border-radius: 59px;
        background: $white url(../assets/images/search-pin.svg) 15px center no-repeat;
        padding: 14px 15px 14px 46px;
        margin-right: 6px;
    }

    .btn-search {
        @include btn-purple;
        @include width-height(86px, 44px);
        padding: 15px 8px;
        font-size: 14px;
        font-weight: 500;
        margin-right: 12px;
        box-shadow: 0px 2px 8px rgba(211, 211, 211, 0.25);
    }

    .divider {
        display: none;
    }

    .btn-reset {
        cursor: pointer;
        user-select: none;
        border: none;
        background: none;

        span {
            display: none;
        }
    }
}

/* Slick Carousal Arrows */
.slick-arrow {
    @include arrow-circle;
    @include width-height(30px, 30px);
    box-shadow: 0px 4px 8px rgba(158, 158, 158, 0.25);
    text-indent: -9999px;
    padding: 5px 10px !important;
}

.main {
    padding: 23px 15px;

    .container {
        display: flex;
        flex-direction: column;

        .tradies {
            order: 2;
        }

        .sidebar {
            order: 1;
            margin-bottom: 18px;
        }
    }
}

.tradies-title {
    color: $sonic-silver;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 14px;
}

.sidebar-title {
    color: $davy-grey;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 18px;
}

.bg-box {
    background: $white;
    border-radius: 28px;
    padding: 22px 0;
    margin-bottom: 16px;
    position: relative;

    &-header {
        margin-bottom: 17px;
        padding: 0 17px;
        @include display-justify-align(flex, left, center);

        img {
            margin-right: 15px;
        }

        .profile-name {
            margin-right: 5px;
            font-size: 14px;
            font-weight: 500;
            color: $raisin-black;
            line-height: 21px;
        }

        .rating {
            font-size: 14px;
            font-weight: 400;
            color: $davy-grey;
            line-height: 21px;
            @include display-justify-align(flex, left, center);

            svg {
                margin-right: 6px;
            }
        }
    }

    &-body {
        margin-bottom: 21px;

        .address {
            padding: 0 17px;
            color: $davy-grey;
            line-height: 16px;
            margin-bottom: 16px;

            p {
                margin-bottom: 8px;
                
                span {
                    @include display-justify-align(inline-flex, left, center);
                    margin-right: 28px;
                }
            }

            svg {
                margin-right: 12px;
            }
        }

        .house-types {
            padding: 0 17px;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 17px;
            min-height: 60px;
            align-items: flex-start;

            li {
                color: $raisin-black;
                line-height: 14px;
                font-size: 12px;
                background-color: $light-cyan;
                padding: 3px 11px;
                border-radius: 32px;
                margin: 0 8px 11px 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .images-carousel {
            padding: 0 0 0 17px;
            display: flex;
            align-items: center;

            .img {
                margin-right: 16px;
            }

            .slick-prev {
                position: absolute;
                z-index: 9;
            }

            .slick-next {
                position: absolute;
                z-index: 9;
                right: 12px;
            }
        }

        .highlights {
            margin: 0 17px;
            background-color: $cultured;
            padding: 11px 17px;
            border-radius: 14px;

            .icon-text {
                display: flex;
                margin-bottom: 4px;

                h6 {
                    font-size: 12px;
                    font-weight: 500px;
                    color: $raisin-black;
                }

                p {
                    font-size: 12px;
                    font-weight: 500px;
                    color: $davy-grey;

                }
            }

            .icon {
                margin-right: 8px;
            }
        }
    }

    &-footer {
        @include display-justify-align(flex, right, center);
        padding: 0 17px;
    }
}

.border-box {
    background: $lotion;
    border: 1px solid $platinum;
    border-radius: 6px;
    padding: 15px 16px 28px;

    .box-header {
        margin-bottom: 17px;
        @include display-justify-align(flex, space-between, center);
    }

    .box-body {
        @include display-justify-align(flex, space-between, flex-start);
        margin-bottom: 21px;

        .title {
            color: $raisin-black;
            line-height: 132%;
            font-weight: 400;
            margin-bottom: 4px;
        }

        .description {
            color: $davy-grey;
            line-height: 127%;
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 0;
        }
    }

    .box-footer {
        .heading {
            color: $davy-grey;
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 8px;
        }

        .reports {
            color: $raisin-black;
            font-size: 14px;
            font-weight: 500;
            @include display-justify-align(flex, space-between, center);
        }
    }
}

.btn-purple {
    @include btn-purple;
    height: 36px;
    padding: 8px 25px;
    margin-right: 16px;
}

.btn-border-purple {
    @include btn-border-purple;
}

.font-red {
    color: $venetian-red;
}

.btn-toggle {
    @include arrow-circle;
    @include width-height(26px, 26px);
}

.title-badge {
    color: $blue-cola;
    background-color: $azureish-white;
    padding: 2px 6px;
    text-transform: uppercase;
    font-weight: 500;
}

.btn-other-links {
    border: none;
    background: none;
    cursor: pointer;
    user-select: none;
    color: $blue-cola;
    text-decoration: underline;
}

.other-links {
    background: $white;
    border: 1px solid $platinum;
    box-shadow: 0px 2px 8px rgba(175, 175, 175, 0.25);
    border-radius: 12px;
    padding: 15px;
    width: 200px;
    position: absolute;
    top: 90px;
    right: 10px;

    .title {
        font-size: 12px;
        font-weight: 500px;
        color: $raisin-black;
        margin-bottom: 11px;
    }

    .house-types {
        margin-bottom: 0;
        min-height: auto;
        padding: 0;
    }
}

.hidden {
    display: none;
}

.btn-upgrade {
    text-align: center;
    margin-bottom: 100px;
}

.box-modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    visibility: hidden;
    z-index: 9;

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        background: #000;
        opacity: 0;
        transition: opacity 1.3s;
    }

    .body-modal {
        max-height: 0px;
        opacity: 0;
        overflow: hidden;
        padding: 10px;

        .inner-body-modal {
            background: $raisin-black;
            color: $white;
            padding: 42px 33px;
            border-radius: 28px;
            position: relative;
            z-index: 1;
            text-align: left;

            .title {
                font-size: 24;
                line-height: 31px;
                font-weight: 600;
                margin-bottom: 9px;
            }

            .description {
                font-size: 16;
                line-height: 21px;
                font-weight: 400;
                margin-bottom: 23px;
            }
        }
    }

    &.modal-show {
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: visible;
        transition: all 0.1s;

        .overlay {
            opacity: 0.5;
            transition: opacity 0.3s;
        }

        .body-modal {
            max-height: 1000px;
            opacity: 1;
            transition: 0.1s max-height 0.1s, 0.1s opacity 0.1s, ;
        }
    }

}

 /* Styles for mobile view */
 .select-mobile {
    display: none;
  }

  /* Styles for desktop view */
  .select-desktop {
    display: none;
  }

  @media (max-width: 992px) {
    /* Styles for mobile view */
    .select-mobile {
      display: block;
    }
  }

  @media (min-width: 992px) {
    /* Styles for desktop view */
    .select-desktop {
      display: block;
    }
  }

/*  ==================================
    [ Responsive Section Starts Here ] */

@media (min-width: 600px) {
    .house-items {
        .house-items-menu {
            margin-right: 25px;
            width: 475px;
        }
        
        select {
            width: 50px;
        }
    }

    .categories-row {
        .categories {
            width: 475px;
            margin-right: 25px;
        }

        select {
            width: 50px;
        }
    }

    .search-row {
        input[type=search] {
            width: 330px;
        }

        .btn-search {
            width: 150px;
        }
    }
}

@media (min-width: 667px) {
    .house-items {
        .house-items-menu {
            margin-right: 25px;
            width: 475px;
        }
        
        select {
            width: 50px;
        }
    }

    .categories-row {
        .categories {
            width: 475px;
            margin-right: 25px;
        }

        select {
            width: 50px;
        }
    }

    .search-row {
        input[type=search] {
            width: 330px;
        }

        .btn-search {
            width: 150px;
        }
    }

    .properties {
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr 1fr;
    }

    .bg-box,
    .border-box {
        width: 300px;
    }
}

@media (min-width: 768px) {
    .house-items {
        .house-items-menu {
            width: 575px;
        }
    }

    .categories-row {
        .categories {
            width: 575px;
        }
    }

    .search-row {
        input[type=search] {
            width: 430px;
        }

        .btn-search {
            width: 175px;
        }
    }

    .bg-box,
    .border-box {
        width: 350px;
    }
}

@media (min-width: 992px) {
    .navigation {
        .main-menu {
            li {
                a {
                    .icon {
                        min-height: 23px;
                        margin-bottom: 5px;
                    }

                    svg {
                        height: 23px;
                        width: auto;
                    }
                }
            } 
        } 
    } 
        

    .house-items {
        .house-items-menu {
            width: 775px;
        }
        
        select {
            width: 75px;
        }
    }

    .categories-row {
        .categories {
            width: 775px;
        }

        select {
            width: 75px;
        }
    }

    .search-row {
        input[type=search] {
            width: 630px;
        }

        .btn-search {
            width: 200px;
        }
    }

    .properties {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .bg-box,
    .border-box {
        width: 300px;
    }
}

@media (min-width: 1200px) {
    .house-items {
        .house-items-menu {
            width: 1000px;
        }
        
        select {
            width: 75px;
        }
    }

    .categories-row {
        .categories {
            width: 1000px;
        }

        select {
            width: 75px;
        }
    }

    .search-row {
        input[type=search] {
            width: 365px;
        }

        .btn-search {
            width: 260px;
        }
    }

    .properties {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .bg-box,
    .border-box {
        width: 375px;
    }
}

@media (min-width: 1580px) {
    .container {
        width: $container-width;
    }

    /* Main Navigation */
    .navigation {
        @include width-height(100%, 72px);
        padding: 12px 0 8px;
        position: static;
        border-bottom: 1px solid $platinum;
        text-align: center;

        .container {
            display: flex;
            justify-content: center;

            .centered {
                flex: 1;
                display: flex;
                justify-content: center;
                transform: translateX(135px);
            }

            .right {
                justify-self: end;
            }
        }

        .main-menu {
            width: 450px;

            li {
                &.post-job {
                    display: none;
                }

                &.notification {
                    display: block;
                }
            }
        }

        .menu-right {
            @include display-justify-align(flex, center, center);
            margin-left: auto;

            .btn-post-job {
                @include btn-purple;
                padding: 10px 32px;
                margin-right: 40px;
            }

            .messages {
                position: relative;
                width: 24px;
                margin-right: 31px;

                .badge {
                    @include badge;
                    top: -10px;
                    right: -10px;
                }
            }
        }
    }

    /* House Items Menu */
    .house-items {
        .house-items-menu {
            width: calc(100% - 100px);
            padding: 7px 0;
            margin-right: 22px;
            margin-bottom: 0;
            @include display-justify-align(flex, center, center);

            .slick-arrow {
                display: flex !important
            }
        }

        select {
            width: 65px;
        }
    }

    /* Categories Row */
    .categories-row {
        .categories {
            width: calc(100% - 100px);
            margin-right: 28px;

            .slick-arrow {
                display: flex !important
            }
        }

        select {
            width: 65px;
        }

        .slick-arrow {
            border: 1px solid $platinum !important;
            margin-right: 0 !important;
        }
    }

    /* Search Row */
    .search-row {
        border-bottom: 1px solid $platinum;

        input[type="search"] {
            width: 364px;
            margin-right: 10px;
        }

        .btn-search {
            width: 259px;
            @include btn-purple;
            padding: 15px 0;
            font-size: 16px;
            box-shadow: 0px 2px 8px rgba(119, 119, 119, 0.55);
        }

        .divider {
            display: block;
            width: 1px;
            margin-right: 17px;
        }

        .btn-reset {
            svg {
                display: none;
            }

            span {
                display: block;
                font-weight: 500;
            }
        }
    }

    /* Main Content */
    .main {
        padding: 23px 0;

        .container {
            margin: 0 auto;
            width: $container-width;
            justify-content: space-between;
            flex-direction: row;

            .tradies {
                order: 1;
            }

            .sidebar {
                order: 2;
            }
        }
    }
}
